html
{
    margin: 0;
    width: 100%;
    height: 100vh;
}

body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
}

#main-title-bar
{
    flex: 1;
    min-height: 64px;
    width: 100%;
    background-color: blue;
}

#landing-contents
{
    flex: 9;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;

    background-image: url("assets/images/spruceFly_downsample.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-text-background
{
    background-color: rgba(0, 0, 0, 40%);
    color: white;  /* Set the children's text color */
}