/**
 * Here we are defining some variables. You can access them via `var(--variable_name).`
 * It just makes fine tuning them easier. Change in one place rather than all 7 different places.
 */
:root
{
    /* Colors picked from https://coolors.co/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226 */
    --content_color: #ffe5d9;  /* Slightly darker than the alt color */
    --content_alt_color: #f8edeb;
    --content_color_gradient: linear-gradient(to bottom right, var(--content_alt_color), var(--content_color));
    --titlebar_color: #0e0049;
    --titlebar_hover_color: #2774ae;
    --navbar_background: #7fbce7;
    --navbar_hover_background: #bce6ff;
    --navbar_hover_text_color: #0e0049;
    --blue_dimmer: rgba(10, 65, 97, 0.6);
    --gold_dimmer: rgb(179, 129, 20, 0.6);

    --font2: "Fira Sans", sans-serif;
    --font1: "Cambria", "Caladea", serif;
    --h1_fontsize: 2em;
    --h2_fontsize: 1.5em;
    --p_fontsize: 1em;

    --navbar_vertical_padding: 1em;
    --navbar_horizontal_padding: 2em;

    --text_vertical_padding: 10px;
    --text_horizontal_padding: 10vw;
    --text_header_size: 25px;
    --text_size: 20px;
    --text_line_height: 2em;

    --text_mobile_vertical_padding: 15px;
    --text_mobile_line_height: 150%;

    --titlebar_height: 90px;
    --titlebar_DBF_font_size: 40px;
    --titlebar_font_size: 25px;
    --titlebar_horizontal_padding_between_items: 10px;

    --transition_time: 700ms;
    --transition_time_hover: 300ms;
}

html
{
    font-family: "Fira Sans", "Arial", sans-serif;
    font-size: 20px;
    margin: 0;
    width: 100%;
    height: 100vh;
}

body
{
    background-color: var(--content_color_gradient);
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr;
}

.vertical-scrollbar-section
{
    overflow-y: auto;

    /**
     * This is only here to have `.gradient-background` flex-grow and fill up the page.
     * Without it, too little content exposes the white background.
     */
    display: flex;
    flex-direction: column;
}

.gradient-background
{
    flex-grow: 1;
    background: var(--content_color_gradient);
}

/**********************
/* Title Bar
/**********************/

#main-title-bar
{
    min-height: var(--titlebar_height);
    max-height: var(--titlebar_height);
    width: 100vw;

    background-color: var(--titlebar_color);
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-title-bar-DBF
{
    padding-right: 15px;
    font-size: var(--titlebar_DBF_font_size);
    color: white;
    transition: var(--transition_time_hover);

    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-title-bar-DBF-logo
{
    padding: 0 var(--titlebar_horizontal_padding_between_items);
    width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title-bar-DBF-text
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title-bar-DBF:hover
{
    background-color: var(--titlebar_hover_color);
    cursor: pointer;
}

.main-title-bar-item
{
    padding: 0 var(--titlebar_horizontal_padding_between_items);
    font-size: var(--titlebar_font_size);
    color: white;
    transition: 0.3s;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title-bar-item:hover
{
    background-color: var(--titlebar_hover_color);
    cursor: pointer;
}


/**************************
/* Landing Page
/**************************/

#landing-contents
{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    background-image: url("assets/images/spruceFly_downsample.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome-splash
{
    width: 100%;
    padding-top: 35vh;
    padding-bottom: 35vh;

    text-align: center;
    font-weight: bold;
    font-size: min(7vw, 80px);

    color: white;
    background: linear-gradient(to bottom right, var(--blue_dimmer), var(--gold_dimmer));
    transition: opacity ease-in var(--transition_time);
}

/* Needed to PREVENT the fade transition from happening on mobile. */
@media (min-device-width: 700px)
{
    #welcome-splash:hover
    {
        opacity: 0;
    }
}

/* Mobile landing page, make the gradient background smaller. */
@media (max-device-width: 700px)
{
    #landing-contents
    {
        overflow-y: scroll;

        display: flex;
        flex-direction: column;
    }

    #welcome-splash
    {
        width: 100%;
        padding-top: 15vh;
        padding-bottom: 15vh;

        text-align: center;
        font-weight: bold;
        font-size: 60px;

        color: white;
        background: linear-gradient(to bottom right, var(--blue_dimmer), var(--gold_dimmer)),
                url("assets/images/spruceFly_downsample.jpg") no-repeat center;
        background-size: cover;
    }
}


/***************************
/* Text Content
/***************************/

.content-section
{
    flex-grow: 1;
    padding: var(--text_vertical_padding) var(--text_horizontal_padding);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section h1
{
    margin-bottom: var(--text_vertical_padding);
    margin-top: var(--text_vertical_padding);
    border-bottom: 2px solid darkgray;
    font-family: var(--font1);
    font-size: var(--h1_fontsize);
    font-weight: bold;
}

.content-section h2
{
    margin-bottom: var(--text_vertical_padding);
    margin-top: var(--text_vertical_padding);
    font-weight: lighter;
    font-family: var(--font1);
    font-size: var(--h2_fontsize);
}

.content-section p, .content-section li
{
    margin-bottom: var(--text_vertical_padding);
    margin-top: var(--text_vertical_padding);
    font-family: var(--font2);
    font-size: var(--p_fontsize);
    line-height: var(--text_line_height);
}

.content-section br
{
    height: 1em;
}

@media (max-device-width: 700px)
{
    .content-section-header
    {
        margin-bottom: var(--text_mobile_vertical_padding);
        margin-top: var(--text_mobile_vertical_padding);
        font-size: var(--text_header_size);
        font-weight: bold;
    }

    .content-section h1
    {
        margin-bottom: var(--text_mobile_vertical_padding);
        margin-top: var(--text_mobile_vertical_padding);
        font-size: var(--h1_fontsize);
        font-weight: bold;
    }

    .content-section-text
    {
        margin-bottom: var(--text_mobile_vertical_padding);
        margin-top: var(--text_mobile_vertical_padding);
        font-size: var(--text_size);
        line-height: var(--text_mobile_line_height);
    }

    .content-section p, .content-section li, .content-section-alt-color p, .content-section-alt-color li
    {
        margin-bottom: var(--text_mobile_vertical_padding);
        margin-top: var(--text_mobile_vertical_padding);
        font-size: var(--text_size);
        line-height: var(--text_mobile_line_height);
    }
}

.centered-image
{
    margin: auto;
    display: block;
}


/*************************
/* Meet the team
/*************************/

#teams-deck
{
    padding: var(--text_vertical_padding) var(--text_horizontal_padding);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
}

.teams-card
{
    height: 170px;
    border-radius: 14px;
    color: white;
    filter: brightness(80%) grayscale(50%);

    margin: 0;

    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;

    transition: ease-in var(--transition_time_hover);
}

.teams-card h1
{
    margin: 0;
    border-bottom: 2px solid white;
    font-family: var(--font2);
    font-size: var(--h1_fontsize);
    line-height: var(--text_line_height);
    font-weight: bold;
}

.teams-card p
{
    margin: 0;
    display: none;
    font-size: var(--h2_fontsize);
    font-weight: normal;
}

.teams-card:hover
{
    grid-template-rows: auto 1fr;
    height: 200px;
    cursor: pointer;
    filter: brightness(100%) grayscale(0%) drop-shadow(0 0 2em white);
}

.teams-card:hover p
{
    display: block;
    font-size: var(--h2_fontsize);
    font-weight: normal;
}

/*************************
/* Teams Page(s) Content
/*************************/

#teams-content
{
    display: grid;
    grid-template-columns: auto 1fr;
    overflow-y: auto;
}

#teams-navbar
{
    height: 100%;
    background-color: var(--navbar_background);
    color: white;

    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams-navbar-item
{
    font-size: var(--titlebar_font_size);
    padding: var(--navbar_vertical_padding) var(--navbar_horizontal_padding);
    transition: var(--transition_time_hover);

    /* Hovering over an item should span fully left to right. Text should also be center. */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams-navbar-item:hover
{
    background-color: var(--navbar_hover_background);
    color: var(--navbar_hover_text_color);
    cursor: pointer;
}

#teams-text-section
{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}