/**
 * Here we are defining some variables. You can access them via `var(--variable_name).`
 * It just makes fine tuning them easier. Change in one place rather than all 7 different places.
 */
:root {
    --blackish_blue: #0e0049;
    --darkish_blue: #2774ae;
    --medium_blue: #7fbce7;
    --light_blue: #bce6ff;
    --gold: #f7ca28;

    --content_color: #e8f5fc;  /* Slightly darker than the alt color */
    --content_alt_color: #faf4f2;
    --content_color_gradient: linear-gradient(to bottom right, var(--content_alt_color), var(--content_color));
    --titlebar_color: var(--light_blue);
    --titlebar_hover_color: var(--darkish_blue);
    --navbar_background: var(--light_blue);
    --navbar_hover_background: var(--darkish_blue);
    --navbar_hover_text_color: #0e0049;
    --blue_dimmer: rgba(10, 65, 97, 0.6);
    --gold_dimmer: rgb(179, 129, 20, 0.6);

    --font2: "Fira Sans", sans-serif;
    --font1: "Cambria", "Caladea", serif;
    --h1_fontsize: 2em;
    --h2_fontsize: 1.5em;
    --p_fontsize: 1em;

    --navbar_folded_width: 3em;
    --navbar_extended_width: 15em;
    --navbar_vertical_padding: 1em;
    --navbar_horizontal_padding: 2em;

    --text_vertical_padding: 10px;
    --text_horizontal_padding: 10vw;
    --text_header_size: 25px;
    --text_size: 20px;
    --text_line_height: 2em;

    --text_mobile_vertical_padding: 15px;
    --text_mobile_line_height: 150%;

    --titlebar_height: 90px;
    --titlebar_DBF_font_size: 2em;
    --titlebar_font_size: 1.2em;
    --titlebar_horizontal_padding_between_items: 1em;

    --transition_time: 700ms;
    --transition_time_hover: 300ms;
}

html {
    font-family: "Fira Sans", "Arial", sans-serif;
    font-size: 20px;
    margin: 0;
    width: 100%;
    height: 100vh;
}

body {
    background-color: var(--content_color);
    margin: 0;
    padding: 0;
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr;
}

.vertical-scrollbar-section {
    overflow-y: auto;

    /**
     * This is only here to have `.gradient-background` flex-grow and fill up the page.
     * Without it, too little content exposes the white background.
     */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.gradient-background {
    flex-grow: 1;
    background: var(--content_color);
}

/**********************
/* Title Bar
/**********************/

#main-title-bar {
    min-height: var(--titlebar_height);
    max-height: var(--titlebar_height);
    width: 100vw;

    background-color: var(--titlebar_color);
    color: var(--gold);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-title-bar-DBF {
    padding-right: 15px;
    font-size: var(--titlebar_DBF_font_size);
    color: var(--gold);
    transition: var(--transition_time_hover);
    text-shadow: -1px -1px 0px #000000; 

    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-title-bar-DBF-logo {
    padding: 0 15px;
    width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title-bar-DBF-text {
    height: 100%;
    color: var(--gold);
    font-weight: bold;

    /* `white-space: nowrap` forces the div to continue consuming width for text. */
    white-space: nowrap;
    display: grid;
    place-items: center;
}

.main-title-bar-DBF:hover {
    background-color: var(--titlebar_hover_color);
    cursor: pointer;
}

.main-title-bar-item {
    padding: 0 var(--titlebar_horizontal_padding_between_items);
    font-size: var(--titlebar_font_size);
    color: black;
    transition: 0.3s;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title-bar-item:hover {
    background-color: var(--titlebar_hover_color);
    cursor: pointer;
}


/**************************
/* Landing Page
/**************************/

#landing-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
    background-image: url("assets/images/Background_Corndog(1).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#welcome-splash {
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 40vh;
    
    text-align: center;
    font-weight: bold;
    font-size: 4vw;

    color: white;
    transition: ease-in var(--transition_time);
    text-shadow: -1px -1px 0px #000000; 
} 

/* Needed to PREVENT the fade transition from happening on mobile. */
@media (min-device-width: 700px) {
    #welcome-splash:hover {
        opacity: 0;
    }
}

/* Mobile landing page, make the gradient background smaller. */
@media (max-device-width: 700px) {
    #landing-contents {
        overflow-y: scroll;

        display: flex;
        flex-direction: column;
    }

    #welcome-splash {
        width: 100%;
        
        text-align: center;
        font-weight: bold;
        font-size: 60px;

        color: white;
        background: url("assets/images/Background_Lazarus.jpg") no-repeat center;
        background-size: cover;
    }
}


/***************************
/* Text Content
/***************************/

.content-section {
    flex-grow: 1;
    padding: var(--text_vertical_padding) var(--text_horizontal_padding);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section h1 {
    margin-bottom: var(--text_vertical_padding);
    margin-top: var(--text_vertical_padding);
    border-bottom: 2px solid darkgray;
    font-family: var(--font1);
    font-size: var(--h1_fontsize);
    font-weight: bold;
    text-align: center;
}

.content-section h2 {
    margin-bottom: var(--text_vertical_padding);
    margin-top: var(--text_vertical_padding);
    border-bottom: 1px solid darkgray;
    font-weight: lighter;
    font-family: var(--font1);
    font-size: var(--h2_fontsize);
    font-weight: bold;
}

.content-section p, .content-section li {
    margin-bottom: var(--text_vertical_padding);
    margin-top: var(--text_vertical_padding);
    font-family: var(--font2);
    font-size: var(--p_fontsize);
    line-height: var(--text_line_height);
}

.content-section br {
    height: 1em;
}

@media (max-device-width: 700px) {
    .content-section-header {
        margin-bottom: var(--text_mobile_vertical_padding);
        margin-top: var(--text_mobile_vertical_padding);
        font-size: var(--text_header_size);
        font-weight: bold;
    }

    .content-section h1 {
        margin-bottom: var(--text_mobile_vertical_padding);
        margin-top: var(--text_mobile_vertical_padding);
        font-size: var(--h1_fontsize);
        font-weight: bold;
    }

    .content-section-text {
        margin-bottom: var(--text_mobile_vertical_padding);
        margin-top: var(--text_mobile_vertical_padding);
        font-size: var(--text_size);
        line-height: var(--text_mobile_line_height);
    }

    .content-section p, .content-section li, .content-section-alt-color p, .content-section-alt-color li {
        margin-bottom: var(--text_mobile_vertical_padding);
        margin-top: var(--text_mobile_vertical_padding);
        font-size: var(--text_size);
        line-height: var(--text_mobile_line_height);
    }
}

.centered-image {
    margin: auto;
    display: block;
    max-width: 80%;
    height: auto;
}


/*************************
/* Meet the team
/*************************/

#teams-deck {
    padding: var(--text_vertical_padding) var(--text_horizontal_padding);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
}

.teams-card {
    height: 170px;
    border-radius: 14px;
    color: white;
    filter: brightness(80%) grayscale(50%);

    margin: 0;

    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;

    transition: ease-in var(--transition_time_hover);
}

.teams-card h1 {
    margin: 0;
    border-bottom: 2px solid white;
    font-family: var(--font2);
    font-size: var(--h1_fontsize);
    line-height: var(--text_line_height);
    font-weight: bold;
}

.teams-card p {
    margin: 0;
    font-size: var(--h2_fontsize);
    font-weight: normal;
}

@media (hover: hover) {

    .teams-card:hover {
        grid-template-rows: auto 1fr;
        height: 200px;
        cursor: pointer;
        filter: brightness(90%) grayscale(0%) drop-shadow(0 0 2em white);
    }

    .teams-card:not(:hover) p {
        display: none;
    }
}

@media (hover: none) {
    .teams-card {
        filter: none;
    }
}

/*************************
/* Teams Page(s) Content
/*************************/

#teams-content {
    margin-left: var(--navbar_folded_width);
    height: 100%;
    overflow-y: auto;
}

#teams-navbar {
    position: fixed;
    width: var(--navbar_folded_width);
    /* Fixed means its height is actually the viewport's height. */
    height: calc(100% - var(--titlebar_height));
    background-color: var(--navbar_background);
    color: white;

    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: ease var(--transition_time_hover);
}

#teams-navbar:hover {
    justify-content: normal;
    width: var(--navbar_extended_width);
}

.teams-navbar-item {
    font-size: var(--titlebar_font_size);
    padding: var(--navbar_vertical_padding) var(--navbar_horizontal_padding);
    transition: var(--transition_time_hover);

    display: none;
    width: 100%;
}

/**
 * Clicking in mobile will BOTH hover and click on a team despite the team not present.
 * Disable for mobile because this behaviour is annoying.
 */
@media (max-device-width: 700px) {
    #teams-navbar {
        display: none;
    }

    #teams-content {
        margin-left: 0;
    }
}

#teams-navbar:hover .teams-navbar-item {
    /* Hovering over an item should span fully left to right. Text should also be center. */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams-navbar-item:hover {
    background-color: var(--navbar_hover_background);
    color: var(--navbar_hover_text_color);
    cursor: pointer;
}

.teams-navbar-item:last-child {
    font-size: var(--titlebar_font_size);
    padding: var(--navbar_vertical_padding) var(--navbar_horizontal_padding);
    transition: var(--transition_time_hover);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#teams-navbar:hover .teams-navbar-item:last-child {
    display: none;
}


.column {
    float: left;
    width: 48%;
    padding: 1px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
}

.box {
    border: none;
    text-align: center;
    align-items: center;
}

.box img {
    width: 100%;
    height: 100%;
    align-items: center;
}


